[Desktop Entry]
Name=SLAM
Comment=SLAM Program
Encoding=UTF-8
Exec=bash $(dirname "$0")/slam.sh
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application;Development;
StartupNotify=true
